<ol class="post-list">
    {{!-- #each is a helper, each loops --}}
    {{#each posts as |post|}}
    <li>
        {{!-- when we pass in post we pass in the all the properties of the object, so we must update variables to not include post --}}
        {{> post-info post }}
    </li>
    {{!-- /to break helper --}}
    {{/each}}
</ol>